.box {
  background-color: cadetblue;
  width: 200px;
  height: 200px;
  display: inline-block;
}

.first {
  background-color: darkblue;
  /* transform: translate(12px, 50%); */
  transform: rotate(40deg) scale(-2);
}

h1 {
  border: 2px solid black;
  /* transform: rotate(90deg); */
  /* transform: translate(30px 30px); */
  display: inline-block;
}
